{% extends 'base.html.twig' %}

{% block title %}Modification du compte de
	{{ user.username }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="my-4">
			Modification du compte de
			{{ user.username | upper }}</h1>
		{{ form_start(form) }}
		{# {{ form_label(form.username, 'Pseudo', {'label_attr': {class: 'input-group-text'}}) }}
		{{ form_errors(form.username) }}
		{{ form_widget(form.username, {'attr': {class: 'form-control mb-3'}}) }} #}

		{{ form_label(form.email) }}
		{{ form_widget(form.email, {'attr': {'value': user.email}}) }}
		{{ form_errors(form.email) }}

		{{ form_widget(form.password, {'attr': {'value': user.password}}) }}
		{{ form_errors(form.password) }}

		{{ form_label(form.roles) }}
		{{ form_widget(form.roles) }}
		{{ form_errors(form.roles) }}

        {{ form_widget(form.created_At, { 'attr': {'class': 'd-none'} }) }}

		{{ form_end(form) }}
			<button class="btn btn-outline-warning mb-5 mt-3 redirect">
			<a href="{{ path('admin_user_index') }}">Annuler</a>
			</button>
			<button class="btn btn-outline-danger mb-5 mt-3 delete">
			<a href="{{ path('admin_user_delete', {'id': user.id}) }}">Supprimer</a>
			</button>
			{# {{ include('admin/user/_delete_form.html.twig') }} #}

	</div>
{% endblock %}
