{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1 class="my-4">Liste de tous les utilisateurs</h1>
    	{% if is_granted('ROLE_ADMIN', users) %}
        <div class="mb-4">
        <span title="Ajouter un utilisateur">
		    <a href="{{ path("admin_user_new") }}"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
        </span>
        </div>
	    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.createdAt is empty ? "" : user.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
                <td>{{ user.updatedAt is empty ? "-" : user.updatedAt|date("d/m/Y", "Europe/Paris") }}</td>
                <td>
                    {% if is_granted('POST_EDIT', user) %}
							<a href="{{ path('admin_user_show', {'id': user.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('POST_EDIT', user) %}
                        <a href="{{ path("admin_user_edit", {id: user.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
                 <td>
                    {% if is_granted('POST_DELETE', user) %}
                        <a href="{{ path("admin_user_delete", {id: user.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
