{% extends 'base.html.twig' %}

{% block title %}Modification du compte de
	{{ app.user.username }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="my-4">
			Modification du compte de
			{{ app.user.username | upper }}</h1>
		{{ form_start(form) }}
		{{ form_label(form.username, 'Pseudo', {'label_attr': {class: 'input-group-text'}}) }}
		{{ form_errors(form.username) }}
		{{ form_widget(form.username, {'attr': {class: 'form-control mb-3'}}) }}

		{{ form_label(form.password, 'Mot de passe', {'label_attr': {class: 'input-group-text'}}) }}
		{{ form_errors(form.password) }}
		{{ form_widget(form.password, {'attr': {class: 'form-control mb-3', type: 'password'}}) }}

		<label class="input-group-text" for="verifpass">Saisir une seconde fois le mot de passe</label>
		<input class="form-control" type="password" id="verifpass" required>

        <div class="col-12">
            {{ form_widget(form.roles, { 'attr': {'class': 'd-none'} }) }}
            {{ form_widget(form.created_At, { 'attr': {'class': 'd-none'} }) }}
        </div>

		<button class="btn btn-primary mb-5 mt-3">{{ button_label|default('Mettre à jour') }}</button>
		<button class="btn mb-5 mt-3 redirect">
			<a href="{{ path('admin_user_index') }}">Annuler</a>
		</button>

		{{ form_end(form) }}
	</div>
    <hr>
    <button class="btn btn-danger">
        <a href="{{ path('contact') }}" class="text-white">Demander la suppression du compte*</a>
    </button>
    <p class="font-italic"> *En cas de demande de suppression, le compte sera supprimé dans les 24h. Merci de m'indiquer votre pseudo lors de votre demande.
    </p>

    {% endblock %}
