{% extends 'base.html.twig' %}

{% block title %}Change user account
	{{ app.user.username }}
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">Change user account
					{{ app.user.username | upper }}</h1>
				<div class="row">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('error') %}
						<div class="alert alert-danger">
							{{ message }}
						</div>
					{% endfor %}
						{{ form_start(form) }}
							{{ form_errors(form) }}
						<div class="row mb-3">
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input class="form-control" no-required id="name" type="text" name="name" value="{{ app.user.name }}">
									<label for="name">Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input class="form-control" no-required id="phone" type="tel" name="phone" value="{{ app.user.phone }}">
									<label for="phone">Phone number</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-floating mb-3 mb-md-0">
								<input class="form-control" required id="email" type="email" name="email" value="{{ app.user.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
								<label for="email">Email address</label>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input class="form-control" id="password" type="password" name="plainPasswordFirst" no-required>
									<input type="checkbox" onclick="showPassword()"> Show password
									<label for="password">Password</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating mb-3 mb-md-0">
									<input type="password" name="plainPasswordSecond" id="repeatpassword" class="form-control" no-required>
									<input type="checkbox" onclick="showRepeatPassword()"> Show repeat password
									<label for="repeatpassword">Repeat Password</label>
								</div>
							</div>
						</div>
						 <button class="btn btn-primary mb-5 mt-5">{{ button_label|default('Update') }}</button>
						 <button class="btn mb-5 mt-5 redirect">
							<a href="{{ path('home') }}">Cancel</a>
						</button>
						{# <button class="btn btn-primary  mb-5 mt-3" type="submit">
						<a href="{{ path('user_profil_update', {'id': user.id}) }}">Update</a>
						</button> #}
						{# <button class="btn btn-primary mb-5 mt-3" type="submit">Update</button>
						<button class="btn mb-5 mt-3 redirect">
							<a href="{{ path('home') }}">Cancel</a>
						</button> #}
					{# </form> #}
					{{ form_end(form, {render_rest: false}) }}
					{{ include('security/_delete_form.html.twig') }}
				</div>
			</div>
			<hr>
		</main>
	{% endblock %}
