{% extends 'base.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body %}
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						{% for message in app.flashes('danger') %}
							<div class="alert alert-danger">
								{{ message }}
							</div>
						{% endfor %}
						<div class="col-lg-7">
<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header">
									<h3 class="text-center font-weight-light my-4">Create Account</h3>
								</div>
								<div class="card-body">

	 {{ form_start(form, {'attr': {'id':'new_user'}}) }}

		<div class="row mb-3">
											<div class="col-md-4">
												<div class="form-floating mb-3 mb-md-0">
												{{ form_widget(form.firstname) }}
													{{ form_errors(form.firstname)}}
													{{ form_help(form.firstname) }}
													{{ form_label(form.firstname) }}

												</div>
											</div>
												<div class="col-md-4">
												<div class="form-floating mb-3 mb-md-0">
														{{ form_widget(form.lastname) }}
													{{ form_errors(form.lastname)}}
													{{ form_help(form.lastname) }}
													{{ form_label(form.lastname) }}

												</div>
											</div>
											<div class="col-md-4">
												<div class="form-floating mb-3 mb-md-0">
													{{ form_widget(form.phone) }}
												{{ form_errors(form.phone)}}
													{{ form_help(form.phone) }}
													{{ form_label(form.phone) }}

												</div>
											</div>
										</div>
										<div class="col-md-8">
										<div class="form-floating mb-3">

					{{ form_widget(form.email) }}
					{{ form_errors(form.email)}}
					{{ form_help(form.email) }}
					{{ form_label(form.email) }}
				</div>
				</div>

			<div class="row mb-3">
											<div class="col-md-8">
												<div class="form-floating mb-3 mb-md-0">
					{{ form_widget(form.password) }}
					{{ form_errors(form.password) }}
					{{ form_help(form.password) }}
				</div>
				</div>
			<div class="row mb-2">
												<div class="col-12 mt-4">
													<div class="custom-control custom-checkbox">
					{{form_widget(form.captcha)}}
					{{form_errors(form.captcha)}}
					{{form_help(form.captcha)}}
					{{form_label(form.captcha)}}



				</div>
				</div>
			</div>
				<div class="col-12">
					{{ form_widget(form.roles, { 'attr': {'class': 'd-none'} }) }}
					{{ form_widget(form.created_At, { 'attr': {'class': 'd-none'} }) }}
				</div>
			</div>
			<div class="mt-4 mb-0 d-flex justify-content-center">
			{{ form_end(form) }}
			</div>
			</div>
								<div class="card-footer text-center py-3">
									<div class="small">
										<a href="login.html">Have an account? Go to login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	{% endblock %}
