{% extends 'base.html.twig' %}

{% block title %}
	Changer de mot de passe
{% endblock %}

{% block body %}

	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 mt-4">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
									{{ form_start(form) }}
									<div class="card-header">
										<h3 class="text-center font-weight-light my-4">Changer de mot de passe</h3>
										{% include '_partials/_flash_messages.html.twig' %}
									</div>
									<div class="card-body">
										<div class="small mb-3 text-muted">Veuillez saisir votre nouveau mot de passe</div>
										<div class="form-group mb-4">
											{{ form_row(form.password.first) }}
											{{ form_row(form.password.second) }}
										</div>
										<button type="submit" onclick="document.fo.submit()" class="btn btn-primary mt-4 mb-4">Changer de mot de passe</button>
									</div>
									<div class="card-footer text-center">
										<div class="small">
											<a href="{{ path('app_login') }}">Retour à la page de connexion</a>
										</div>
									</div>
									{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
