{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% for flashSuccess in app.flashes('success') %}
		<div class="alert alert-danger" role="alert">{{ flashSuccess }}</div>
	{% endfor %}
	<h1>Backoffice Porfolio - Edith Bredon</h1>
	<div>
		<a href="{{ 'https://edithbredon.fr' }}" class="btn btn-primary">Voir mon portfolio</a>
		<a class="btn btn-outline-warning" href="{{ path('api_project_index') }}">Voir l'api de tous mes projets</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="py-4 col-md-12">
				<fieldset>
					{% if app.user %}
						<legend>Bienvenue,
							{{app.user.username}}</legend>
					{% endif %}
					Ce backoffice me sert à gérer mes API et ainsi pouvoir ajouter, modifier ou supprimer un projet à mon portfolio.
					<br>
					Il a été réalisé avec Symfony 5.4, Bootstrap et un peu de Jquery.
					<br>
					Je vous invite à me <a href="{{ path('contact') }}">contacter</a> si vous avez des questions ou des commentaires.
				</fieldset>
			</div>
			<img src="{{ asset('/images/portfolio.png')}}" alt="site de mon portfolio" class="img-fluid">
		</div>
	</div>
</div>{% endblock %}
