{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet
{% endblock %}

{% block body %}
	<h1>Ajouter un projet</h1>
	<div class="container-fluid">
			<fieldset class="w-100 d-flex mb-3">
		<legend>
			Nouveau projet</legend>
		{{ form_start(form, {'attr': {'id': 'new_edit_project'}}) }}
		<div class="row">
			<div class="col-12">
				{{ form_row(form.name, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
			<div class="col-12">
				{{ form_row(form.description, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
			<div class="col-12">
				{{ form_row(form.image, {'attr': {'class': 'form-select m-3'}}) }}
			</div>
			<div class="col-12">
				{{ form_row(form.link, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
			<div class="col-12">
			 {{ form_label(form.techno, 'Techno', {'label_attr': {'class': 'input-group-text'}}) }}
			 {{ form_widget(form.techno, {'attr': {'class': 'form-control mb-3 d-flex justify-content-sm-between'}}) }}
			</div>
			<div class="col-12">
				{{ form_row(form.isPublished, {'attr': {'class': 'form-check mb-3'}}) }}
				
			</div>
			<div>
			{{ form_widget(form.created_At, { 'attr': {'class': 'd-none'} }) }}
			</div>
		</div>
		<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
		<button class="btn redirect">
			<a href="{{ path('admin_project_index') }}">Annuler</a>
		</button>
		{{ form_end(form) }}
	</fieldset>
		</div>


{% endblock %}
