{% extends 'base.html.twig' %}

{% block title %}Liste des projets archivés
{% endblock %}

{% block body %}
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					{% if not projects.items is same as([]) %}
						<h1 class="mt-4">Liste des projets archivés</h1>
						<ol class="breadcrumb mb-4">
							<li class="breadcrumb-item">
								<a href="{{ path('homepage') }}">Accueil</a>
							</li>
							<li class="breadcrumb-item active">Liste des projets archivés</li>
						</ol>
						<div class="row">
							<div class="col-lg-12">
								<div class="card mb-4">
									<div class="card-header">
										<i class="fas fa-table mr-1" aria-hidden="true"></i>
										Liste des projets archivés
										<div class="d-flex justify-content-end">
											<a href="{{ path('admin_projects_create') }}" class="btn btn-success">
												<i class="fas fa-plus"></i>
												Nouveau</a>
										</div>
									</div>
									<div class="count m-4">Total des projets archivés :
										{{ projects.getTotalItemCount }}</div>
									<section class="py-2 text-center container">
										<div class="row">
											<div class="col-lg-6 col-md-8 mx-auto" onclick="toogleViewFunctionArchived()">
												<h1 class="fw-light">Liste des projets archivés</h1>
												<p class="lead text-muted">Visualiser les projets archivés en tableau ou en carte</p>
												<p>
													<button type="button" class="btn btn-primary my-2 active" id="tableViewArchived" data-bs-toggle="button" data-bs-target="#tableViewArchived" aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Vue tableau">
														<i class="fas fa-th-list"></i>
													</button>
													<button type="button" class="btn btn-primary my-2" id="cardViewArchived" data-bs-toggle="button" data-bs-target="#cardViewArchived" aria-pressed="false" data-toggle="tooltip" data-placement="top" title="Vue cartes">
														<i class="fas fa-address-card"></i>
													</button>
												</p>
											</div>
										</div>
									</section>

									<div class="d-none" id="viewtableArchived">
										{{ include('admin/projects/archived_table.html.twig') }}
									</div>
									<div class="d-none" id="viewcardArchived">
										{{ include('admin/projects/archived_card.html.twig') }}
									</div>

									<p class="float text-center mt-1">
										<a href="#">
											<i class="fa-solid fa-arrow-circle-up" aria-hidden="true"></i>
											Retour au début</a>
									</p>
									<div class="navigation d-flex justify-content-center mt-4">
										{{ knp_pagination_render(projects) }}
									</div>
								</div>
							</div>
						</div>

					{% else %}
						<div class="row mt-5">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<div class="alert alert-warning" role="alert">
													<h4 class="alert-heading">Aucun projet archivé n'a été trouvé !</h4>
													<hr>
													<p class="mb-0">Voir la liste des projets en cours ou créer un nouveau projet.</p>
													<a href="{{ path('admin_projects_index') }}" class="btn btn-primary mt-2">
														<i class="fas fa-eye"></i>
														Voir les projets en cours
													</a>
													<a href="{{ path('admin_projects_create') }}" class="btn btn-primary mt-2">
														<i class="fas fa-plus"></i>
														Créer un projet
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
			</main>
		{% endblock %}
