<p>Bonjour {{ contact.firstname }}, Merci pour votre message, je vous répondrai dans les plus brefs délais.</p>

-------------------------------

<p>Message reçu de : {{ contact.firstname }} {{ contact.lastname }} </p>
<p>Email : ({{ contact.email }})</p>
<p>Sujet : {{ contact.subject }}</p>
<h3> Votre message : </h3>
<p>{{ contact.message }}</p>

-------------------------------

<p>Cordialement,</p>
Visitez mon portfolio à l'adresse : <a href="https://edithbredon.fr/">edithbredon.fr</a>

